.no-pointer-ev {
    pointer-events: none;
}

.lightbox-iframe {
    background-color: #000000e3;
    width: 100%;
    height: 100%;
    z-index: 99999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
}

.iframe-field {
    padding: 20px;
    width: 50%;
}


#empty-iframe {
    width: 100%;
    height: 500px;
    border-radius: 6px;
    box-shadow: 0px 15px 12px #000000c4;
}

.thumb-video {
    width: 100%;
    cursor: pointer;
}

.embed-box::after {
    position: relative !important;
    /* content: url("../imagens/youtube-100.png") !important; */
    bottom: 82%;
    left: 2%;
    text-align: center;
    display: flex;
    justify-content: center;
    cursor: pointer;
    
}